{% load static %}
<!DOCTYPE html>
<html>

<head lang="ja">
  <meta charset="utf-8">
  <title>会議室予約システム</title>
  <!-- google fontsを使用するためgoogleからフォントのcssを取得します。-->
  <link href="https://fonts.googleapis.com/css?family=Courgette|Noto+Serif+JP&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'jquery.datetimepicker.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'jquery.datetimepicker.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'mrrs.css' %}">


  <script type="text/javascript" language="javascript">
    $(function () {
      $('#id_start_date_time_0').datetimepicker({ timepicker: false, format: 'Y-m-d' });
      $('#id_start_date_time_1').datetimepicker({ datepicker: false, format: 'H:i' });
      $('#id_end_date_time_0').datetimepicker({ timepicker: false, format: 'Y-m-d' });
      $('#id_end_date_time_1').datetimepicker({ datepicker: false, format: 'H:i' });

      $('.js-modal-open').on('click', function () {
        $('.js-modal').fadeIn();
        $('.reserve_list_row-first').css('z-index', 0);
        $('.js-modal-open-update').css('z-index', 0);
        $('#id_reserv_id').val("");
        $('#id_room_id').val("");
        $('#id_reserv_name').val("");
        $('#id_start_date_time_0').val("");
        $('#id_start_date_time_1').val("");
        $('#id_end_date_time_0').val("");
        $('#id_end_date_time_1').val("");
        $('#input_button').css('display', '');
        $('#update_button').css('display', 'none');
        $('#delete_button').css('display', 'none');

        return false;
      });
      $('.js-modal-open-update').on('click', function () {
        $('.js-modal').fadeIn();
        $('.reserve_list_row-first').css('z-index', 0);
        $('.js-modal-open').css('z-index', -1);
        $('.js-modal-open-update').css('z-index', -1);
        $('#id_reserv_id').val($(this).data('id'));
        $('#id_room_id').val($(this).data('room_id'));
        $('#id_reserv_name').val($(this).data('room_user'));
        $('#id_start_date_time_0').val($(this).data('start_date_time_0'));
        $('#id_start_date_time_1').val($(this).data('start_date_time_1'));
        $('#id_end_date_time_0').val($(this).data('end_date_time_0'));
        $('#id_end_date_time_1').val($(this).data('end_date_time_1'));
        $('#input_button').css('display', 'none');
        $('#update_button').css('display', '');
        $('#delete_button').css('display', '');

        return false;
      });
      $('.js-modal-close').on('click', function () {
        $('.js-modal').fadeOut();
        $('.reserve_list_row-first').css('z-index', 1);
        $('.js-modal-open').css('z-index', 1);
        $('.js-modal-open-update').css('z-index', 1);

        return false;
      });
    });
  </script>


</head>

<body>
  <div class="wrapper">
    <!-- wrapper start -->
    <header>
      <h1>Meeting room reservation system</h1>
    </header>
    <article>
      <!-- reserve_wrapper start -->
      <div class="reserve_wrapper">
        <!-- -------------------------------------------------- -->
        <!-- 入力 リスト                                        -->
        <!-- -------------------------------------------------- -->
        <!-- reserve_list start  -->
        <div class="reserve_list-head">
          <p class="calendar-year-month-date">{{cal_date|date:"Y年m月d日"}}</p>
        </div>
        <div class="reserve_list">
          <div class="reserve_list_row reserve_list_row-houre">
            <!-- 24時間の表記 -->
            <div class="reserve_list_row-first"></div>
            {% for houre in ''|center:24 %}
            <span>{{forloop.counter}}</span>
            {% endfor %}
          </div>

          <!-- 縦線の表記 -->
          <div class="reserve_list_row reserve_list_row-lines">
            {% for count in ''|center:24 %}
            <span></span>
            {% endfor %}
          </div>

          <!-- 会議室の内容 -->
          {% for room_info in room_data %}
          <div class="reserve_list_row">
            <div class="reserve_list_row-first">
              <div class="reserve_text">
                <a class="js-modal-open" href="#">
                  {{room_info.room_name}}：ID[{{room_info.room_id}}]
                </a>
              </div>
            </div>
            <ul class="reserve_list_row-bars">
              <!-- 押下時値を渡す -->
              {% for reserv_info in reserv_data %}
              {% if room_info.room_id|slugify  == reserv_info.room_id|slugify  %}

              <li class="js-modal-open-update"
                style="grid-column: {{reserv_info.start_date_time|date:'H'}}/{{reserv_info.end_date_time|date:'H'}}; background-color: #465DAA;"
                data-id={{reserv_info.id}} data-room_id={{reserv_info.room_id }} data-room_user={{reserv_info.user }}
                data-start_date_time_0="{{reserv_info.start_date_time|date:'Y-m-d'}}"
                data-start_date_time_1="{{reserv_info.start_date_time|date:'H:i'}}"
                data-end_date_time_0="{{reserv_info.end_date_time|date:'Y-m-d'}}"
                data-end_date_time_1="{{reserv_info.end_date_time|date:'H:i'}}">
                <span class="user_name">{{reserv_info.user}}</span></li>
              </li>

              {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
        <!-- reserve_list end  -->
        <div class="day-pager-paernt">
          <div>
            <a href="{% url 'mrrs' %}?days={{yesterday|date:'Ymd'}}">
              <p>前日</p>
            </a>
          </div>
          <div>
            <a href="{% url 'mrrs' %}?days={{tomorrow|date:'Ymd'}}">
              <p>翌日</p>
            </a>
          </div>
        </div>
      </div>
      <!-- reserve_wrapper end  -->

      <!-- -------------------------------------------------- -->
      <!-- カレンダー                                         -->
      <!-- -------------------------------------------------- -->
      <div id="mini-calendar">
        <div class="calendar-head">
          <p class="calendar-year-month">{{cal_date|date:"Y年m月"}}</p>
        </div>
        <table>
          <thead>
            <tr>
              <th>月</th>
              <th>火</th>
              <th>水</th>
              <th>木</th>
              <th>金</th>
              <th class="calendar-sat">土</th>
              <th class="calendar-sun">日</th>
            </tr>
          </thead>
          <tbody>
            {% for week in month_days %}
            <tr>
              {% for day in week %}
              <td>
                <a href="{% url 'mrrs' %}?days={{day|date:'Ymd'}}">
                  <i class="calendar-day-number">{{day|date:"d"}}</i>
                  <div class="calendar-labels"></div>
                </a>
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="day-pager-paernt">
        <div>
          <a href="{% url 'mrrs' %}?days={{month_ago|date:'Ymd'}}">
            <p>前月</p>
          </a>
        </div>
        <div>
          <a href="{% url 'mrrs' %}?days={{month_after|date:'Ymd'}}">
            <p>翌月</p>
          </a>
        </div>
      </div>
    </article>

    <footer></footer>

  </div>
  <!-- wrapper end   -->

  <!-- 入力フォームと送信ボタンは formタグで囲み postメソッドで送信する -->
  <form action="" method="POST">
    <!--POSTを行う際に必要 -->
    {% csrf_token %}
    <!-- -------------------------------------------------- -->
    <!-- 入力フォーム                                       -->
    <!-- -------------------------------------------------- -->
    <div class="modal js-modal">
      <div class="modal_bg js-modal-close"></div>
      <div class="modal_content">

        <div class="reserve_input">
          <!-- reserve_input start -->
          <!-- 予約ID -->
          <div class="reserve_input_div">
            {{ form.reserv_id }}
            <label>{{ form.reserv_id.label }}</label>
            <span class="focus_line"></span>
          </div>

          <!-- 会議室ID -->
          <div class="reserve_input_div">
            {{ form.room_id }}
            <label>{{ form.room_id.label }}</label>
            <span class="focus_line"></span>
          </div>

          <!-- 利用者 -->
          <div class="reserve_input_div">
            {{ form.reserv_name }}
            <label>{{ form.reserv_name.label }}</label>
            <span class="focus_line"></span>
          </div>

          <!-- 開始日時 -->
          <div class="reserve_input_div">
            {{ form.start_date_time }}
            <label>{{ form.start_date_time.label }}</label>
            <span class="focus_line"></span>
          </div>

          <!-- 終了日時 -->
          <div class="reserve_input_div">
            {{ form.end_date_time }}
            <label>{{ form.end_date_time.label }}</label>
            <span class="focus_line"></span>
          </div>

          <!-- ボタン関連 -->
          <div class="reserve_div_button">
            <div id="input_button" class="reserve_input_div_button">
              <input type="submit" class="submit_insert" name="action" value="登 録">
            </div>

            <div id="update_button" class="reserve_input_div_button">
              <input type="submit" class="submit_insert" name="action" value="更 新">
            </div>

            <div id="delete_button" class="reserve_input_div_button">
              <input type="submit" class="submit_insert" name="action" value="削 除">
            </div>
          </div>
        </div><!-- reserve_input end  -->
        <a class="js-modal-close" href="">閉じる</a>
      </div>
      <!--modal_inner-->
    </div>
    <!--modal-->
  </form>
</body>

</html>